HTTP_PORT=8002
HTTPS_PORT=4443
HTTP3_PORT=4443
APP_SECRET=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_VERSION=15

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
