
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.env
.idea
.idea/*
.idea/GitlabLint.xml
.idea/php.xml
.idea/symfony-6-project.iml
