{% extends 'base.html.twig' %}


{% block body %}
    <h1>O Nas</h1>
    <img src="{{ asset('img/about.png') }}"
         alt="Wąski poziomy banner przedstawiający stylizowane kontrolery do gier, ikony połączeń sieciowych i sylwetki osób wchodzących w interakcję, symbolizujący społeczność graczy i pracę zespołową."
         class="responsive-image"
    >

    <h2>Pasja do Gry - Nasze Serce i Misja</h2>
    <p>W Strona o Grach, łączymy pasjonatów gier z całego świata, dzieląc się tym, co w grach najlepsze. Od małego start-upu, przekształciliśmy się w prężnie rozwijającą się społeczność, gdzie każdy gracz znajdzie coś dla siebie, niezależnie od tego, czy jest weteranem wielu kampanii, czy dopiero rozpoczyna swoją przygodę z grami.</p>

    <h2>Nasza Historia</h2>
    <p>Założona przez grupę przyjaciół-geeków, Strona o Grach zrodziła się z marzeń o miejscu, gdzie nie tylko będziemy mogli dzielić się swoimi doświadczeniami, ale także wspierać i inspirować innych w ich cyfrowych wyprawach. Od naszych skromnych początków, nasza platforma stała się domem dla tysięcy recenzji, artykułów, poradników i dyskusji.</p>

    <h2>Co Nas Wyróżnia</h2>
    <p>- <strong>Ekspertyzy</strong>: Nasze głębokie zrozumienie i wiedza na temat gier pozwala nam dostarczać treści najwyższej jakości.</p>
    <p>- <strong>Społeczność</strong>: Jesteśmy dumni z naszej zaangażowanej i różnorodnej społeczności, która jest sercem Strona o Grach.</p>
    <p>- <strong>Innowacje</strong>: Nieustannie dążymy do innowacji, aby nasza platforma była nie tylko źródłem informacji, ale także miejscem, gdzie nasi użytkownicy mogą tworzyć i dzielić się własną zawartością.</p>

    <h2>Nasza Wizja</h2>
    <p>Naszym celem jest stworzenie najbardziej wszechstronnej platformy gamingowej, która nie tylko informuje, ale i łączy graczy na całym świecie. Dążymy do tego, aby każdy, kto odwiedza Strona o Grach, czuł się jak w domu, z dostępem do najnowszych wiadomości, trendów i zasobów związanych z grami.</p>

    <h2>Zaproszenie do Dołączenia</h2>
    <p>Nie ważne, czy jesteś tu po to, aby znaleźć swoją następną ulubioną grę, udoskonalić swoje umiejętności, czy po prostu porozmawiać o ostatnim e-sportowym turnieju - Strona o Grach to miejsce dla Ciebie. Dołącz do nas i bądź częścią naszej rosnącej globalnej rodziny graczy.</p>

{% endblock %}

{% block title %}
    About
{% endblock %}

