{% extends 'base.html.twig' %}
{% block title %}Strona Główna - Świat Gier{% endblock %}
{% block body %}
    <h1>Witaj w Świecie Gier!</h1>
    <img src="{{ asset('img/0a8d1d36-3784-459f-a13a-e2a4fb5e7773.webp') }}"
         alt="Kolaż cyfrowy symbolizujący świat gier z kontrolerem, słuchawkami, kolorowymi abstrakcyjnymi kształtami przedstawiającymi światy cyfrowe, ikonami puzzli, mieczem dla gier przygodowych, samochodem wyścigowym dla gier wyścigowych oraz pikselami reprezentującymi gry retro."
         class="responsive-image"
    >
    <p>Odkryj, Graj i Dołącz do Społeczności Pasjonatów</p>

    <h2>Najnowsze Premiery</h2>
    <p>Bądź na bieżąco z gorącymi premierami i zapowiedziami nadchodzących hitów. Przeczytaj recenzje, oglądaj zwiastuny
        i sprawdź pierwsze wrażenia z rozgrywki.</p>

    <h2>Klasyczne Hity</h2>
    <p>Czy jesteś fanem retro? Przeszukaj naszą bibliotekę klasycznych tytułów i odśwież wspomnienia dzięki grom, które
        ukształtowały dzisiejszą kulturę gamingową.</p>

    <h2>Poradniki i Triki</h2>
    <p>Utknąłeś w grze? Nasze kompleksowe przewodniki i poradniki pomogą Ci odblokować wszystkie sekrety i osiągnięcia,
        abyś mógł czerpać z gry jak najwięcej.</p>

    <h2>Społeczność</h2>
    <p>Dołącz do naszej społeczności i dziel się swoimi doświadczeniami, twórz zawartość i poznawaj innych graczy. Forum
        dyskusyjne, konkursy i wydarzenia czekają na Twoją aktywność!</p>

    <h2>Streaming i Let's Plays</h2>
    <p>Oglądaj, jak inni grają, lub zacznij własną przygodę z streamingiem. Poznaj najlepsze techniki, sprzęt i
        oprogramowanie, które pomoże Ci wyróżnić się w świecie transmisji na żywo.</p>

    <h2>Dołącz do Nas</h2>
    <p>Zarejestruj się już dziś, aby otrzymywać najnowsze aktualizacje, oferty specjalne i dostęp do ekskluzywnych
        treści.</p>
    <p>Świat gier czeka na Ciebie – Rozpocznij Przygodę!</p>
{% endblock %}

